<!DOCTYPE html>
<html>
<head>
  <title>Incmty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user-widget">

  <% if current_user %>

    Welcome <strong><%= current_user.name %></strong>!

    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <img src="<%= current_user.profilepic %>" alt="" id="profilepic">
    

  <% else %>

    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

  <% end %>

</div>

<%= yield %>

</body>
</html>
