<!DOCTYPE html>
<html>
<head>
  <script src="livereload.js" type></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Place this data between the <head> tags of your website -->
  <title>Quiz del emprendedor - Descubre qué tipo de emprendedor eres</title>
  <meta id="viewport" content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Descubre qué tipo de emprendedor eres." />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@incmty">
  <meta name="twitter:title" id="twtitle" content="Quiz del emprendedor">
  <meta name="twitter:description" id="twdescription" content="Descubre qué tipo de emprendedor eres.">
  <meta name="twitter:image" id="twimage" content="http://quizdelemprendedor.com/qde.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="Quiz del emprendedor" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://quizdelemprendedor.com/" />
  <meta property="og:image" content="http://quizdelemprendedor.com/qdefb.jpg?t=12345?" />
  <meta property="og:description" content="Descubre qué tipo de emprendedor eres." /> 
  <meta property="og:site_name" content="Quiz del emprendedor" />
 
</head>
<body>

<!-- Facebook Conversion Code for Quiz Emprendedores -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6020468683337', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6020468683337&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5XV8NG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5XV8NG');</script>


<!-- End Google Tag Manager -->
<!-- <div id="user-widget">

  <% if current_user %>

    Welcome <strong><%= current_user.name %></strong>!

    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    
    

  <% else %>

    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

  <% end %>

</div> -->

<%= yield %>
<!--   <%= image_tag("profile.jpg", :id=>"profile") %>

<canvas id='canvas'>
    </canvas> -->
 
</body>
</html>
